<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
    <stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.11.ee"/>
    <stringAttribute key="mule-agent-port" value="55139"/>
    <stringAttribute key="mule-agent-token-auth" value="758d9e36-ca87-45b6-8045-2e42ea797b3f"/>
    <listAttribute key="mule-project-names">
        <listEntry value="poc-rag"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="poc-rag"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking -M-Dfile.encoding=UTF-8 -M-XX:+UseG1GC -M-XX:+UseStringDeduplication -M-Dmule.deployment.forceParseConfigXmls=true"/>
</launchConfiguration>
